.nav {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-width: 80px;
  padding-top: 200px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 1.1rem;
}

.icon_div {
  border-radius: 50%;
  padding: 8px;
  background: rgba(193, 191, 191, 0.5);
}

.icon_div:active {
  background: rgba(255, 180, 0, 1);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
